<div fxLayoutAlign="center center" fxFill class="loginpage" >
    <mat-card class="mat-elevation-z12" fxFlex="25">
    <mat-card-title style="text-align:center;" > Movie DB </mat-card-title>

    <mat-tab-group>
        <mat-tab label="Sign In">
            <mat-card-content>
                <form #loginform="ngForm" action="" fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="loginUser()">
                    <small style="color:red;">{{msg}}</small>
                   
                    <mat-form-field>
                        <input matInput placeholder="Email ID" required name="email" ngModel #email="ngModel" [(ngModel)]="user.email">
                        <mat-error *ngIf="email.invalid"> Email is required </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <input matInput type="password" placeholder="Password" required ngModel #password="ngModel" [(ngModel)]="user.password">
                        <small *ngIf="password.errors?.['required']"> Password is required </small>
                    </mat-form-field>
                    
                    <button [disabled]="loginform.form.invalid" mat-raised-button type="submit" class="button"> Login </button>    
                </form>
            </mat-card-content>
        </mat-tab>


        <mat-tab label=" New User ">
            <mat-card-content>
                <form action="" #registerform="ngForm" fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="registerUser()">
                    <small style="color:red;">{{msg}}</small>
                    
                    <mat-form-field>
                        <input matInput placeholder="Username" required name="username" ngModel #username="ngModel" [(ngModel)]="user.username">
                        <mat-error *ngIf="username.invalid"> Username is required </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <input matInput placeholder="Email ID" required name="email" ngModel #email="ngModel" [(ngModel)]="user.email">
                        <mat-error *ngIf="email.invalid"> Email is required </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <input matInput type="password" placeholder="Password" required name="password" ngModel #password="ngModel" [(ngModel)]="user.password">
                        <mat-error *ngIf="password.errors?.['required']"> Password is required </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <input matInput type="password" placeholder="Re-enter password" required name="repassword" ngModel #repassword="ngModel" (ngModel)="user.password">
                        <mat-error *ngIf="repassword.errors?.['required']"> This field is required </mat-error>
                    </mat-form-field>
                    <button [disabled]="registerform.form.invalid" mat-raised-button type="submit" class="button"> Register </button>
                </form>
            </mat-card-content>
        </mat-tab>

    </mat-tab-group>
</mat-card>
</div>